@model List<Order>
<div class="tab-pane fade" id="pills-order">
    <div class="my-account-order account-wrapper">
        <h4 class="account-title">Danh sách đơn hàng</h4>
        @if (Model != null && Model.Count() > 0)
        {
      

    
    <div class="account-table text-center  table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="no">STT</th>
                  @*   <th class="name">Tên Khách Hàng</th> *@
                    <th class="date">Ngày Tạo</th>
                    <th class="status">Ngày Đặt</th>
                    <th class="total">Tổng Hóa Đơn</th>
                    <th class="Status"> Trạng Thái</th>
                    <th class="action">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.OrderId</td>
                       @*  <td>@item.Customer.Name</td> *@
                        <td>@item.CreatedDate</td>
                        <td>@item.AppDate</td>
                        <td>@item.TotalMoney.Value.ToString("#,##0") VNĐ</td>
                        <td>@item.TransactStatus.Status</td>
                        <td><a href="#">Xem Chi Tiết</a></td>
                    </tr>
                }
              
            </tbody>
        </table>
    </div>
   
}
else
{
    <h4>Chưa Lịch Hẹn !</h4>
}
    </div>
</div>
