@using PagedList.Core.Mvc;
@model IEnumerable<TTCK_DVKYTHUAT.Models.Category>
@{
    var servies = ViewData["Services"] as List<Service>;
}
<!--====== Slider Start ======-->

<section class="slider-area slider-02 slider-active">
    <div class="single-slider bg_cover d-flex align-items-center paroller" style="background-image: url(images/banner4.png); width:800px;height:400px; " data-paroller-factor="-0.15" data-paroller-type="foreground" data-paroller-direction="vertical">
        <div class="container">
            
        </div>
    </div>
    <div class="single-slider bg_cover d-flex align-items-center paroller" style="background-image: url(images/banner5.png); width:800px;height:400px;" data-paroller-factor="-0.15" data-paroller-type="foreground" data-paroller-direction="vertical">
        <div class="container">
           
        </div>
    </div>
    <div class="single-slider bg_cover d-flex align-items-center paroller" style="background-image: url(images/banner3.jpg); width:800px;height:400px;" data-paroller-factor="-0.15" data-paroller-type="foreground" data-paroller-direction="vertical">
        <div class="container">
            <div class="slider-content-2-3 text-bg-while">
                <h1 class="title"><span data-animation="slideInUp" data-delay="0.6s">Tiết Kiệm  <br> Lên Đến 25%</span></h1>
                <p><span data-animation="slideInLeft" data-delay="1s">Hotline:13080632 - Dịch Vụ</span></p>
              @*   <span class="price"><span data-animation="slideInLeft" data-delay="1.5s">25%</span></span> *@
                <div class="slider-btn">
                    <a data-animation="zoomIn" data-delay="2s" href="#" class="main-btn">Đăng Ký Ngay !</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Slider Ends ======-->
<!--====== Category Start ======-->

<section class="category-area pt-50">
    <div class="container-fluid custom-container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="category-item-2 mt-30">
                        <a asp-area ="" asp-controller="Category" asp-action="Index" asp-route-categoreId="@item.CategoryId">
                            <img src="~/images/@item.Image" alt="@item.Name">
                            <div style="margin-top: 20px;">@item.Name</div>
                            <div class="category-content">
                                <h4 class="title">Xem Thêm</h4>
                            </div>
                        </a>
                    </div>
                </div>
            }
          
        </div>
    </div>
</section>

<!--====== Category Ends ======-->
 <!--====== Product Start ======-->

<section class="product-area pt-85">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-25">
                    <h2 class="title">DỊCH VỤ MỚI</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid custom-container-2">
        <div class="row-wrapper product-active">
            @foreach (var dv in servies)
            {
                <div class="custom-col">
                    <div class="single-product mt-40">
                        <div class="product-image">
                            <div class="image">
                                <img class="product-1" src="~/images/@dv.Image" alt="product">
                               @*  <img class="product-2" src="assets/images/product/product-8.jpg" alt="product"> *@
                                <a class="link" asp-action="Details" asp-controller="Service" asp-route-Id="@dv.ServiceId"></a>
                            </div>
                            <ul class="product-meta text-center">
                                <li><a data-bs-tooltip="tooltip" data-bs-placement="top" title="Đặt dịch vụ" data-id="@dv.ServiceId" class="ajax-add-to-cart"><i class="fal fa-Shopping-cart"></i></a></li>
                             
                            </ul>
                         
                        </div>
                        <div class="product-content d-flex justify-content-between">
                            <div class="product-title">
                                <h4 class="title" style="width: 200px !important;"><a asp-action="Details" asp-controller="Service" asp-route-Id="@dv.ServiceId">@dv.Name</a></h4>
                            </div>
                            <div class="product-price">
                                <span class="price"> @dv.Price.Value.ToString("#,##0") VNĐ</span>
                              @*   <span class="sale-price">£200.00</span> *@
                            </div>
                        </div>
                    </div>
                </div>
            }
         
        </div>
        <div class="product-btn text-center mt-95">
            @*  <a href="shop-sidebar.html" class="view-product">View All Product</a>  *@
        </div> 
    </div>
</section>

<!--====== Product Ends ======-->
@section scripts{


    <script>
        $(document).ready(function () {
            $(".ajax-add-to-cart").click(function () {
                $.ajax({
                    url: "/Cart/AddToCart",
                    data: {
                        id: $(this).data("id"),
                        SoLuong: 1,
                        type: "ajax"
                    },
                    success: function (data) {
                       
                        console.log(data.soLuong);
                        $("#cart_count").html(data.soLuong);
                    },
                    error: function () {
                       
                    }
                });
            });
        });
    </script>
}

 