@model TTCK_DVKYTHUAT.Models.Service

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Service> lsservices = ViewBag.dichvu;
    var reviews = ViewData["Conments"] as List<Conment>;
   
}

<!--====== Product Simple Start ======-->

<section class="product-simple-area pt-20" style="margin-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-simple-image flex-wrap mt-50">
                    <button class="product-gallery-popup" data-hint="Click to enlarge" data-images='[
                            {"src": "~/assets/images/product/product-37.jpg", "w": 600, "h": 743},
                            {"src": "~/assets/images/product/product-38.jpg", "w": 600, "h": 743},
                            {"src": "~/assets/images/product/product-25.jpg", "w": 600, "h": 743},
                            {"src": "~/assets/images/product/product-26.jpg", "w": 600, "h": 743}
                        ]'>
                        <i class="far fa-search-plus"></i>
                    </button>

                    <div class="product-simple-preview-image">
                        <img class="product-zoom" src="~/images/@Model.Image" alt="@Model.ServiceId">
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-simple-details mt-50">
                    <h4 class="title">@Model.Name</h4>
                

                    <p class="review">
                        @for (var i = 1; i <= 5; i++)
                        {
                            if (i <= Model.AverageRating)
                            {
                                <i class="fas fa-star star-fill" style="color: #ffd700;"></i>
                            }
                            else if (i - 0.5 <= Model.AverageRating)
                            {
                                <i class="fas fa-star-half-alt" style="color: #ffd700;"></i>
                            }
                            else
                            {
                                <i class="fas fa-star" style="color: #d3d3d3;"></i>
                            }
                        }
                        <span class="ml-3 text-dark">@Model.AverageRating</span>
                    </p>

                    <div class="product-price">
                        <span class="price"> @Model.Price.Value.ToString("#,##0") VND</span>
                    </div>
                    <div class="product-quantity-cart-wishlist-compare flex-wrap">
                        <form asp-action="AddtoCart" asp-controller="Cart" asp-route-id="@Model.ServiceId">
                            @* <div class="product-quantity d-flex">
                                <button type="button" class="sub"><i class="fal fa-minus"></i></button>
                                <input type="text" value="1" />
                                <button type="button" class="add"><i class="fal fa-plus"></i></button>
                            </div> *@
                            <div class="product-cart">
                                <button class="main-btn">Đặt dịch vụ</button>
                            </div>
                        </form>
                      @*   <a href="#" data-bs-tooltip="tooltip" data-bs-placement="top" title="Add to Wishlist" class="product-wishlist"><i class="far fa-heart"></i></a>
                        <a href="#" data-bs-tooltip="tooltip" data-bs-placement="top" title="Add to Compare" class="product-compare"><i class="far fa-repeat-alt"></i></a> *@
                    </div>

                    @* <div class="product-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum turpis in leo eleifend ultrices. Fusce egestas vehi</p>

                        <ul class="description-list">
                            <li>Cotton-blend fabric</li>
                            <li>Check-pattern</li>
                            <li>Removable belt at the waist</li>
                            <li>High waist</li>
                        </ul>
                    </div> *@

                    <div class="product-meta">
                        <p>Danh mục: @Model.Category.Name @* <a href="#">Metro,</a> <a href="">Women</a> *@</p>
@*                         <p>Tags: <a href="#">Dress,</a> <a href="#">Fashion</a> <a href="#">Furniture,</a> <a href="#">Lookbook</a></p>
 *@                    </div>

                    <div class="product-share">
                        <ul class="social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Product Simple Ends ======-->
<!--====== Product Description & Review Start ======-->

<section class="product-description-review pt-150">
    <div class="container">
        <div class="product-simple-tab-menu">
            <ul class="nav justify-content-center">
                <li><a class="active" data-bs-toggle="tab" href="#description">Mô tả</a></li>
                <li><a data-bs-toggle="tab" href="#review">Nhận xét</a></li>
            </ul>
        </div>
        <div class="tab-content pt-30">
            <div class="tab-pane fade show active" id="description">
                @* <div class="product-description">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="description">
                                <p>Donec laoreet bibendum rutrum. Nulla facilisi. Proin in lacinia dolor. Cras arcu lacus, pulvinar at molestie luctus, blandit at libero. Vivamus semper congue mauris, et lobortis mauris ultrices nec. Nulla et sodales leo. Praesent facilisis elit nec ornare feugiat <br> <br>  Donec eu neque blandit, vestibulum felis accumsan, ullamcorper ipsum. Nunc rhoncus, augue interdum sagittis dignissim, nibh tortor sodales ex, pretium maximus libero turpis varius purus. Pellentesque condimentum, lacus vel accumsan consequat, velit augue</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="image text-md-end">
                                <img src="~/assets/images/pd-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div> *@
                <div class="product-description">
                    <div class="row flex-md-row-reverse">
                        <div class="col-md-8">
                            <div class="description" style="margin-left:0px;">
                                <p> @Html.Raw(Model.Description) </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image text-md-left ">
                                <img src="~/images/@Model.Image" alt="@Model.ServiceId" style=“width:400px;height:350px;”>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="review">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="product-review pt-20">
                            <div class="review-comment">
                                <ul class="comment">
                                    @foreach (var item in reviews)
                                    {
                                        <li>
                                            <div class="single-review-comment">
                                                <div class="review-author" style="width:40px;height:40px;">
                                               
                                                    <img src="~/images/nguoidung.png" alt="" />
                                                </div>
                                                <div class="review-content">
                                                   
                                                    <div class="review-name-rating mt-0">
                                                       <div class="col">
                                                            <h6 class="review-name">@item.Customer.Name</h6>
                                                            <ul class="review-rating">
                                                                @for (int i = 1; i <= 5; i++)
                                                                {

                                                                    <li class="@(i <= item.Rating ? "rating-on" : "rating-off")">
                                                                        <i class="fas fa-star"></i>
                                                                    </li>
                                                                }

                                                            </ul>
                                                       </div>
                                                        <p class="review-created-at">@item.CreateDate.Value.ToString("dd/MM/yyyy")</p>
                                                    </div>

                                                   
                                               
                                                    <p style="white-space: pre-line;">"@item.Message"</p>

                                                <!-- Hiển thị phần reply -->
                                                    <div class="reply-section">
                                                    @if (ViewData["Replies"] is Dictionary<int, List<Reply>> replies && replies.ContainsKey(item.ConmentId))
                                                    {
                                                        var rep = replies[item.ConmentId];

                                                        foreach (var replyItem in rep)
                                                        {
                                                            <div class="card mt-2">
                                                                <div class="card-body">
                                                                    <div class="w-100">
                                                                        @* <p>@replyItem.ReplyAt</p> *@
                                                                        <div class="review-name-rating mt-0">
                                                                            <div class="col">
                                                                                <h6 class="review-name">Phản hồi từ cửa hàng</h6>

                                                                            </div>
                                                                            <p>@replyItem.RepDate</p>
                                                                        </div>
                                                                        <p class="text-secondary mb-0">@replyItem.Reply1</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                 </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                   
                                </ul>
                            </div>
                            <div class="review-form mt-45">
                                <h2 class="form-title">Nhận Xét </h2>

                                <form asp-controller="Service" asp-action="CreateReview" method="post">
                                    <input type="hidden" name="serviceId" value="@Model.ServiceId" />
                                    <div class="rating-star">
                                        <div id="rating">
                                        <input type="radio" id="star5" name="rating" value="5" />
                                        <label class="full" for="star5" title="Awesome - 5 stars"></label>

                                        <input type="radio" id="star4" name="rating" value="4" />
                                        <label class="full" for="star4" title="Pretty good - 4 stars"></label>


                                        <input type="radio" id="star3" name="rating" value="3" />
                                        <label class="full" for="star3" title="Meh - 3 stars"></label>

                                        <input type="radio" id="star2" name="rating" value="2" />
                                        <label class="full" for="star2" title="Kinda bad - 2 stars"></label>

                                        <input type="radio" id="star1" name="rating" value="1" />
                                        <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                        </div>
                                    </div>
                                    <div class="review-textarea">
                                        @* <label>Your Review *</label> *@
                                        <textarea id="comment" name="comment"></textarea>
                                    </div>
                                    <div class="review-btn">
                                        <button type="submit" class="main-btn">Gửi</button>
                                    </div>
                                    @* <div class="review-checkbok">
                                        <input type="checkbox" id="checkbox">
                                        <label for="checkbox"><span></span> NOTIFY ME OF NEW POSTS BY EMAIL.</label>
                                    </div> *@
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>i
        </div>
    </div>
</section>

<!--====== Product Description & Review Ends ======-->
<!--====== Related Products Start ======-->

<section class="product-area pt-160 pb-145">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <h2 class="title">Dịch Vụ Liên Quan</h2>
                </div>
            </div>
        </div>
        <div class="row-wrapper product-active">
            @if (lsservices != null)
                        {
                foreach (var item in lsservices)
                {
                    <div class="custom-col">
                        <div class="single-product mt-50">
                            <div class="product-image">
                                <div class="image">
                                    <img class="product-1" src="~/images/@item.Image" alt="product">
                                    @* <img class="product-2" src="~/assets/images/product/product-8.jpg" alt="product"> *@
                                    <a class="link" asp-action="Details" asp-controller="Service" asp-route-Id="@item.ServiceId"></a>
                                </div>
                                <ul class="product-meta text-center">
                                    <li><a data-bs-tooltip="tooltip" data-bs-placement="top" title="Add to Cart" href="#"><i class="fal fa-Shopping-cart"></i></a></li>
                                  @*   <li><a data-bs-tooltip="tooltip" data-bs-placement="top" title="Quick Shop" data-bs-toggle="modal" data-bs-target="#productQuick" href="#"><i class="fal fa-search-plus"></i></a></li>
                                    <li><a data-bs-tooltip="tooltip" data-bs-placement="top" title="Add to Wishlist" href="#"><i class="fal fa-heart"></i></a></li>
                                    <li><a data-bs-tooltip="tooltip" data-bs-placement="top" title="Add to Compare" href="#"><i class="fal fa-repeat-alt"></i></a></li> *@
                                </ul>
                               @*  <span class="discount">40%</span> *@
                            </div>
                            <div class="product-content d-flex justify-content-between">
                                <div class="product-title">
                                    <h4 class="title"><a asp-action="Details" asp-controller="Service" asp-route-Id="@item.ServiceId">@item.Name</a> </h4>

                   
                                </div>
                                <div class="product-price">
                                   @*  <span class="regular-price">£250.00</span> *@
                                    <span class="sale-price"> @item.Price.Value.ToString("#,##0") VND</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            
        </div>
    </div>
</section>

<!--====== Related Products Ends ======-->
<section>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <link href="~/css/rating.css" rel="stylesheet" />
</section>