@model IEnumerable<TTCK_DVKYTHUAT.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<!-- Bottom Breadcrumb card start -->
<div class="card">
    <div class="card-block">
        <div class="breadcrumb-header">
            <h5>Quản Lý Đơn Hàng</h5>
        </div>
        <div>
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">Danh Sách Đơn Hàng</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">.....</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Bottom Breadcrumb card end -->
<!-- Basic table card start -->
<div class="card">
    <div class="card-header">
        @* <h5>Basic table</h5>
        <span>use class <code>table</code> inside table element</span> *@
        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Khách hàng</th>
                        <th>SĐT</th>
                        <th>Địa chỉ</th>
                        <th>Ngày đặt</th>
                        <th>Ngày hẹn</th>
                      @*   <th>Thanh Toán</th> *@
                        <th>Tổng tiền</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.OrderId</th>
                                <td>@item.Customer.Name</td>
                                <td>@item.Customer.Phone</td>
                                <td>@item.Customer.Address</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.AppDate</td>
                               @*  <td>@item.Payment.Name</td> *@
                                <td>@item.TotalMoney</td>
                                <td>

                                    <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId">
                                        <button class="btn btn-info">Details</button>
                                    </a>
                                    </td>

                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Basic table card end -->

@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.PaymentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@