@model IEnumerable<TTCK_DVKYTHUAT.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table {
        table-layout: fixed;
        width: 100%;
        /*    border: 1px solid red; */
    }

    thead th:nth-child(1) {
        width: 8%;
    }

    thead th:nth-child(2) {
        width: 20%;
    }

    thead th:nth-child(3) {
        width: 15%;
    }

    thead th:nth-child(4) {
        width: 20%;
    }

    thead th:nth-child(6) {
        width: 15%;
    }

    thead th:nth-child(7) {
        width: 15%;
    }

    thead th:nth-child(8) {
        width: 15%;
    }



    th,
    td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 20px;
    }
</style>
<!-- Bottom Breadcrumb card start -->
<div class="card">
    <div class="card-block">
        <div class="breadcrumb-header">
            <h5>Quản Lý Đơn Hàng</h5>
        </div>
        <div>
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">Danh Sách Đơn Hàng</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">.....</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Bottom Breadcrumb card end -->
<!-- Basic table card start -->
<div class="card">
    <div class="card-header">
        @* <h5>Basic table</h5>
        <span>use class <code>table</code> inside table element</span> *@
        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Khách hàng</th>
                       
                        <th>Địa chỉ</th>

                        <th>Ngày hẹn</th>
                        <th>Tổng tiền</th>
                        <th>Trạng Thái</th>
                        <th></th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.OrderId</th>
                                <td>@item.Customer.Name</td>
                                @*   <td>@item.Customer.Phone</td> *@
                                <td>@item.Customer.Address</td>

                                <td>@item.AppDate</td>
                                <td>@item.TotalMoney.Value.ToString("#,##0") VNĐ</td>
                                <td>@item.TransactStatus.Status</td>
                                @*  <td>@item.TransactStatus.Status</td> *@
                               <td>
                                <select class="status-dropdown" data-order-id="@item.OrderId">
                                        @foreach (var status in ViewBag.StatusList)
                                        {
                                          @*    <option value="@status.TransactStatusId" selected="@status.TransactStatusId == item.TransactStatusId">@status.Status</option>  *@
                                            <option value="@status.TransactStatusId">@status.Status</option>
                                        }
                                </select>
                            </td>

                              
                                <td>

                                    <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId">
                                        <button class="btn btn-info">Chi Tiết</button>
                                    </a>
                                   
                                </td>

                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Basic table card end -->
@section Scripts {
    <script>
        $(document).ready(function () {

            // Lặp qua tất cả các dropdown và thiết lập giá trị của chúng
            $('.status-dropdown').each(function () {
                var orderId = $(this).data('order-id');
                //var currentStatusId = $(this).data('current-status-id'); // Giả sử có thuộc tính data chứa trạng thái hiện tại của đơn hàng
                var currentStatusId = $(this).find('option:selected').val();
                // Thiết lập giá trị của dropdown bằng với trạng thái hiện tại của đơn hàng
                $(this).val(currentStatusId);
            });

            // Xử lý sự kiện khi dropdown thay đổi
            $('.status-dropdown').change(function () {
                var orderId = $(this).data('order-id');
                var newStatusId = $(this).val();
                var dropdown = $(this);
                $.ajax({
                    type: 'POST',
                    url: '/Admin/AdminOrders/ChangeStatus',
                    data: { orderId: orderId, newStatusId: newStatusId },
                    success: function () {
                        // Cập nhật thành công, bạn có thể thực hiện các hành động sau
                        location.reload();
                    },
                    error: function () {
                        // Xử lý lỗi nếu có
                    }
                });
            });
        });
    </script>
}

@* @section Scripts {
    <script>
        $(document).ready(function () {
            $('.status-dropdown').change(function () {
                var orderId = $(this).data('order-id');
                var newStatusId = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: '/Admin/AdminOrders/ChangeStatus',
                    data: { orderId: orderId, newStatusId: newStatusId },
                    success: function () {
                        // Cập nhật thành công, bạn có thể thực hiện các hành động sau
                    },
                    error: function () {
                        // Xử lý lỗi nếu có
                    }
                });
            });
        });
    </script>
} *@