@model TTCK_DVKYTHUAT.Models.Reply

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<!-- Bottom Breadcrumb card start -->
<div class="card">
    <div class="card-block">
        <div class="breadcrumb-header">
            <h5>Quản Lý Reply</h5>
        </div>
        <div>
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="AdminReplies" asp-action="Index">Danh Sách Reply</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">.....</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Bottom Breadcrumb card end -->



<h1>Details</h1>

<div>
    <h4>Reply</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reply1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reply1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conment.ConmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReplyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
