@model IEnumerable<TTCK_DVKYTHUAT.Models.Category>

@{
    ViewData["Title"] = "Quản Lý Danh Mục";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<style>
    table {
        table-layout: fixed;
        width: 100%;
     /*    border: 1px solid red; */
    }

    thead th:nth-child(1) {
        width: 10%;
    }

    thead th:nth-child(2) {
        width: 20%;
    }

    thead th:nth-child(3) {
       
        width: 20%;
    }

    thead th:nth-child(4) {
        width: 15%;
    }

    thead th:nth-child(5) {
        width: 15%;
    }

    thead th:nth-child(6) {
        width: 20%;
    }
    th,
    td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 20px;
    }
  
</style>
<!-- Bottom Breadcrumb card start -->
<div class="card">
    <div class="card-block">
        <div class="breadcrumb-header">
            <h5>Quản Lý Danh Mục</h5>
        </div>
        <div>
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Danh Sách Danh Mục</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">.....</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Bottom Breadcrumb card end -->
<!-- Basic table card start -->
<div class="card">
    <div class="card-header">
      @*   <h5>Quản Lý Danh Mục</h5> *@

        <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Create">
            <button class="btn btn-grd-primary ">Add</button>
        </a>
       
       
     
        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table" >
                <thead>
                    <tr >
                        <th >ID</th>
                        <th >Name</th>
                        <th >ShortDesc </th>
                        <th>Image</th>
                        <th >Type</th>
                        <th >#</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null)
                    {
                        foreach(var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.CategoryId</th>
                                <td>@item.Name</td>
                                <td>@item.ShortDesc</td>
                                <td>  <img src="~/images/@item.Image" style="width: 50px; height: 50px;" /></td>
                                <td>@item.Type</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Edit" asp-route-id="@item.CategoryId">
                                        <button class="btn hor-grd btn-grd-success">Edit</button>
                                   </a>
                                    <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Delete" asp-route-id="@item.CategoryId">
                                        <button class="btn hor-grd btn-grd-danger ">Delete</button>
                                   </a>
                                   
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div> 
<!-- Basic table card end -->

@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@